$p-color0: #00FFEC;
$p-color1: #00857C;
$p-color2: #00675F;
$p-color-1: #70FFF5;
$p-color-2: #A4FFF8;

$s-color0: #1097FF;
$s-color1: #004F8B;
$s-color2: #003D6B;
$s-color-1: #79C5FF;
$s-color-2: #A9DAFF;

$t-color0: #00FF6F;
$t-color1: #009B43;
$t-color2: #007734;
$t-color-1: #70FFAE;
$t-color-2: #A4FFCB;

$c-color0: #FF6F00;
$c-color1: #D95E00;
$c-color2: #A74800;
$c-color-1: #FFAE70;
$c-color-2: #FFCBA4;


$white: #fff;
$black: #000;

$gray: #959595;
$light-gray: #C2C2C2;
$super-light-gray: #eee;
$dark-gray: #626262;
$super-dark-gray: #464646;
